.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 40%;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.hand-of-cards{
    height: 100px;
    width: auto;
    margin-bottom: 30px;
}